fastapi
uvicorn
pymupdf
rank-bm25
langchain
langchain-community
langchain-text-splitters
langchain-classic
langchain-groq
langchain-qdrant
langchain-huggingface
langgraph
python-dotenv
pydantic
qdrant-client
huggingface_hub
requests
numpy
